@import url("https://fonts.googleapis.com/css?family=Francois+One|PT+Serif:400,400i,700,700i");

body {
  margin: 0px;
  color: #2c3e50;
  background-color: #3ebbda;
  font-size: 1.1em;
}
#loading{

width: 100%;

}
.main {
  width: 590px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  box-shadow: 0 0 1em #80808066;
  border-radius: 4px;
}

.main h1 {
  font-family: "Francois One";
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 5px;
  color: #2c3e50;
}

form {
  display: grid !important;
}

form input[type="text"] {
  width: 400px;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 1%;
}

form button {
  width: 30%;
  background-color: #2c3e50;
  color: white;
  border-radius: 4px;
}

form textarea {
  width: 100%;
  height: 150px;
  font-size: 12px;
  margin-top: 2px;
  resize: none;
  border-radius: 4px;
}

.post {
  width: 400px;
  font-size: 12px;
  padding: 5px;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 1%;
}

.blog-list-item {
  width: 590px;
  min-height: 250px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 20px 60px;
  box-shadow: 0 0 1em #80808066;
}

.blog-list-item-image {
  float: left;
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin-right: 20px;
  margin-bottom: 5%;
}

.blog-list-item-title {
  font-size: 35px;
  font-family: "Francois One";
  margin-bottom: 10px;
}

.blog-list-item-lede {
  display: block;
  margin-bottom: 50px;
}

.blog-list-item-lede img {
  width: 100%;
}

.blog-list-item-byline {
  font-size: 0.8em;
  margin-bottom: 15px;
  color: #777777;
}

.blog-list-item-byline-author {
  font-weight: bolder;
}

.blog {
  padding: 0px 10% 0px 10%;
}

.nav {
  background-color: #2c3e50;
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Francois One";
}

.search {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border-width: 0px;
  font-family: "Francois One";
}

.searchButton {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  background-color: #777777;
  color: white;
  font-family: "Francois One";
  cursor: pointer;
}

.logo {
  font-weight: bold;
  font-size: 1.9em;
  margin-left: 10px;
  font-family: "Francois One";
  color: #ffffff;
  cursor: pointer;
}

.nav-selected {
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

.nav-unselected {
  padding: 5px;
  margin-right: 5px;
  color: grey;
  font-size: 1.1em;
  cursor: pointer;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position:absolute;
  left: 45%;
  top:45%;
}

.loader::before {
  content: '';
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed#444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
}

.loader::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed#444;
  box-shadow: inset -5px -5px 25px rgba(0,0,0,0.25),
  inset 5px 5px 35px rgba(0,0,0,0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #fff;
}

.loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: seagreen;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}